body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

intput{width: 100%;}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
  box-sizing: border-box;
}

.item {
  background: pink;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 15px;
  line-height: 150px;
  color: white;
  text-align: center;
}
.container {
  padding: 0;
  margin: 0;
  list-style: none;

  /* TODO Arbeitsauftrag Flexbox */
  display:flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.week {
  background: hotpink;
  padding: 5px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  text-align: center;

  display:flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.month {
  background: purple;
  padding: 5px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  text-align: center;

  display:flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}
