.red {
    background-color: red;
    border: 1px solid #aaaaaa;
}

.green {
    background-color: greenyellow;
}

.yellow {
    background-color: yellow;
}

.big {
    width: 200px;
    height: 200px;
}

.small {
    width: 100px;
    height: 100px;
}
.innerdiv {
    padding: 5px;
    margin-top: 10px;
    line-height: 150px;
}
.container {
    padding: 0;
    margin: 0;
    list-style: none;
}
.background{
    background-color: navajowhite;

}