.wrapper {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   font-weight: bold;
   text-align: center;
 }

.wrapper > * {
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

body {
  padding: 2em;
}

@media all and (min-width: 600px){
  .aside-1, .aside-2 {
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .aside {
    flex-basis: auto;
  }
}

@media all and (min-width: 800px){
  .aside-1{
    flex-grow: 1;
    order: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .main{
    flex-grow: 2;
    order: 2;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .aside-2{
    flex-grow: 1;
    order: 3;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .footer {
    order: 4;
  }
  .animation{
    background: white;
    transition: 3s;
  }
}

@media all and (max-width: 600px){
  td:nth-of-type(1){
    display: none;
  }
}

@media all and (min-width: 800px){

}

