.container {
  padding: 0;
  margin: 0;
  list-style: none;

  /* TODO Arbeitsauftrag Flexbox */
  display:flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  background: lightblue;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  text-align: center;
}
